.headding {
  font-size: 40px;
  padding-left: 5px;
  border-left: 10px black solid;
  border-bottom: 1px black solid;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  padding-left: 10px;
  font-weight: 700;
}
